html, body {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

.flex-center {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.m-b-md {
    margin-bottom: 30px;
}
td img{
    width: 80px;
}
th{
    padding: 0 15px;
}
td{
    text-align: center;
}

